<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">🏠 หน้าแรก</a></li>
                <li class="breadcrumb-item"><a href="#">🎓 การจัดการข้อมูลบัณฑิต</a></li>
                <li class="breadcrumb-item active" aria-current="page">📓 ปรับปรุงข้อมูล</li>
            </ol>
        </nav>
    </div>
</div>
<div class="list-grouprow">
<ul class="list-group">
    <li class="list-group-item active"> Kasetsart University Sriracha Campus </li>
    <li class="list-group-item">อัตลักษณ์ : สํานึกดี มุ่งมั่น สร้างสรรค์ สามัคคี</li>
    <li class="list-group-item">ตราสัญลักษณ์ประจำวิทยาเขต : https://www.src.ku.ac.th/info/images/LogoKU/KUSRC.png </li>
    <li class="list-group-item">วิสัยทัศน์ :  มหาวิทยาลัยที่มุ่งเน้นการสร้างสรรค์นวัตกรรมดิจิทัล เพื่อพัฒนาเศรษฐกิจ สังคมและสิ่งแวดล้อม ในภาคตะวันออก</li>
    <li class="list-group-item">https://www.src.ku.ac.th/E_Book/masterplanOS/slider.html</li>
</ul>
</div>