<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">🏠 หน้าแรก</a></li>
                <li class="breadcrumb-item"><a href="#">🎓 การจัดการข้อมูลบัณฑิต</a></li>
                <li class="breadcrumb-item active" aria-current="page">📓 ปรับปรุงข้อมูล</li>
            </ol>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="https://www.src.ku.ac.th/index.php?iPage=info/per">
        <div class="card-body">
          <h5 class="card-title"> ข้อมูลติดต่ออาจาร์ / บุคลากร </h5>
          <a href="#" class="btn btn-primary"> click </a>
        </div>
      </div>
</div>
<div class="card">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="https://www.src.ku.ac.th/index.php?iPage=info/stu">
        <div class="card-body">
          <h5 class="card-title"> ข้อมูลติดต่อสำหรับนิสิต </h5>
          <a href="#" class="btn btn-primary"> click </a>
        </div>
      </div>
</div>

