<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">🏠 หน้าแรก</a></li>
        <li class="breadcrumb-item"><a href="#">🎓 การจัดการข้อมูลบัณฑิต</a></li>
        <li class="breadcrumb-item active" aria-current="page">📓 ปรับปรุงข้อมูล</li>
      </ol>
    </nav>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="https://offic.src.ku.ac.th/qa_web/ans_2502.htm">
  <div class="card-body">
    <h5 class="card-title"> ระเบียบการลาป่วยและลากิจ </h5>
    <a href="#" class="btn btn-primary"> click </a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="https://offic.src.ku.ac.th/qa_web/ans_5A.htm">
  <div class="card-body">
    <h5 class="card-title"> รางวัลเรียนดี </h5>
    <a href="#" class="btn btn-primary"> click </a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="https://offic.src.ku.ac.th/qa_web/ans_2604.htm">
  <div class="card-body">
    <h5 class="card-title"> การสิ้นสุดสถานภาพนิสิต </h5>
    <a href="#" class="btn btn-primary"> click </a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="https://offic.src.ku.ac.th/qa_web/ans_903.htm">
  <div class="card-body">
    <h5 class="card-title"> ระเบียบการสอบในกรณีสอบตกรายวิชาเลือกเสรี </h5>
    <a href="#" class="btn btn-primary"> click </a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="https://offic.src.ku.ac.th/qa_web/ans_602.htm">
  <div class="card-body">
    <h5 class="card-title"> การลงทะเบียนเรียนในกรณีปกติ </h5>
    <a href="#" class="btn btn-primary"> click </a>
  </div>
</div>